# claude code
.calude/
.commit_message.txt

# venv
.venv/

# logs
logs/
*.log

# output
*.csv
dataset/
dataset_test/
dataset_*/

# python
*.pyc
__pycache__/

# etc
.env
settings.json
.vscode/settings.json\ 
.claude/
info.md